# LED Instance Config (STANDALONE)

[include klipper/10_disco_effects.cfg]
[include klipper/20_status_macros.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_rp2350_5EFD289DC600DC42-if00

[neopixel disco_led]
pin: gpio16
chain_count: 1
color_order: RGB
initial_RED: 0.1
initial_GREEN: 0.0
initial_BLUE: 0.0

[printer]
kinematics: none
max_velocity: 100
max_accel: 100

[respond]
[display_status]
[pause_resume]
[idle_timeout]
