[gcode_macro START_PRINT]
description: "Migrated Orca Slicer Start G-code"
gcode:
    {% set total_layers = params.TOTAL_LAYER|default(0)|int %}
    {% set bed_temp = params.BED_TEMP|default(60)|float %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(220)|float %}
    {% set initial_extruder = params.INITIAL_EXTRUDER|default(0)|int %}

    PRINT_START
    DEFECT_DETECTION_START
    SET_PRINT_STATS_INFO TOTAL_LAYER={total_layers}
    SET_PRINT_STATS_INFO CURRENT_LAYER=0
    TIMELAPSE_START
    M140 S{bed_temp}
    M104 T{initial_extruder} S140
    M204 S10000

    G28 X Y
    # ===== Bed Foreign Object Detection ========
    T{initial_extruder}
    G90
    DEFECT_DETECTION_DETECT_BED
    # ===== Extruder Switch Check =================
    SM_PRINT_CHECK_SWITCH_EXTRUDER

    # ===== Auto Feeding & Flow Calibration & Pre-extrude ======================
    SM_PRINT_EXTRUDER_PREHEAT EXTRUDER=1 TEMP=140
    SM_PRINT_AUTO_FEED EXTRUDER=0
    SM_PRINT_FLOW_CALIBRATE EXTRUDER=0
    SM_PRINT_EXTRUDER_PREHEAT EXTRUDER=2 TEMP=140
    SM_PRINT_AUTO_FEED EXTRUDER=1
    SM_PRINT_FLOW_CALIBRATE EXTRUDER=1
    SM_PRINT_EXTRUDER_PREHEAT EXTRUDER=3 TEMP=140
    SM_PRINT_AUTO_FEED EXTRUDER=2
    SM_PRINT_FLOW_CALIBRATE EXTRUDER=2
    SM_PRINT_AUTO_FEED EXTRUDER=3
    SM_PRINT_FLOW_CALIBRATE EXTRUDER=3
    
    M104 S0 T0 A0
    M104 S0 T1 A0
    M104 S0 T2 A0
    M104 S0 T3 A0
    M104 T{initial_extruder} S{extruder_temp - 90}

    # ===== Rough Homing =================
    T{initial_extruder}
    M106 S255
    M106 P2 S0
    MOVE_TO_DISCARD_FILAMENT_POSITION
    M109 T{initial_extruder} S{extruder_temp - 90}
    ROUGHLY_CLEAN_NOZZLE_WITH_DISCARD
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    G28 Z I140 J140

    # ===== Detect Bed Plate =================
    DETECT_BED_PLATE

    # ===== Fine Nozzle Cleaning =================
    G90
    G0 Z5 F10000
    MOVE_TO_DISCARD_FILAMENT_POSITION
    M109 S{extruder_temp - 50}
    ROUGHLY_CLEAN_NOZZLE
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    FINELY_CLEAN_NOZZLE_STAGE_1
    M104 S{extruder_temp - 90}
    G0 Z5 F10000
    MOVE_TO_DISCARD_FILAMENT_POSITION
    ROUGHLY_CLEAN_NOZZLE
    MOVE_TO_XY_IDLE_POSITION_EXTRUDER
    FINELY_CLEAN_NOZZLE_STAGE_2

    # ===== Fine Homing =================
    M106 S255
    M109 S{extruder_temp - 90}
    M190 S{bed_temp}
    M107 P2
    G90
    G0 Z5 F10000
    G28 Z

    # ===== Bed Leveling =================
    BED_MESH_CALIBRATE PROBE_COUNT=11,11

    # ===== Start Line =================
    G90
    G1 Z1.5
    G0 X10 Y3 Z2 F18000
    M109 S{extruder_temp}
    G1 Z0.2
    M83
    G1 X110 E15 F360
    G1 Z1.5

    G90
    M106 S0
