#####################################################################
#   Calibration & Testing
#####################################################################

[gcode_macro PID_EXTRUDER]
description: "Run PID calibration for the extruder"
gcode:
  {% set target = params.TARGET | default(220) | float %}
  PID_CALIBRATE HEATER=extruder TARGET={target}
  SAVE_CONFIG

[gcode_macro PID_BED]
description: "Run PID calibration for the bed"
gcode:
  {% set target = params.TARGET | default(60) | float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={target}
  SAVE_CONFIG

[gcode_macro Z_OFFSET_TEST]
description: "Run ProUI Z-offset calibration"
gcode:
  SET_GCODE_OFFSET Z=0
  PRTOUCH_PROBE_ZOFFSET CLEAR_NOZZLE=1 APPLY_Z_ADJUST=1
  SAVE_CONFIG
