#####################################################################
#   Filament Management
#####################################################################

[gcode_macro LOAD_FILAMENT]
description: "Load filament into the extruder"
variable_load_distance = 40
variable_purge_distance = 30
gcode:
    {% set load_speed = params.LOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}
    
    SAVE_GCODE_STATE NAME=load_state
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp}
    {% endif %}
    G91
    G92 E0
    G1 E{load_distance} F{load_speed}
    G1 E{purge_distance} F{purge_speed}
    {% if turn_off_extruder %}
        M104 S0
    {% endif %}
    RESTORE_GCODE_STATE NAME=load_state
    M118 Filament Loaded

[gcode_macro UNLOAD_FILAMENT]
description: "Unload filament from the extruder"
variable_unload_distance: 80
variable_purge_distance: 20
gcode:
    {% set unload_speed = params.UNLOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}

    SAVE_GCODE_STATE NAME=unload_state
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp}
    {% endif %}
    G91
    G92 E0
    G1 E{purge_distance} F{purge_speed}
    G1 E-{unload_distance} F{unload_speed}
    {% if turn_off_extruder %}
        M104 S0
    {% endif %}
    RESTORE_GCODE_STATE NAME=unload_state
    M118 Filament Unloaded

[gcode_macro LINE_PURGE]
description: "Draw a purge line"
gcode:
    G92 E0                      ; Reset Extruder
    G1 Z2 F3000                 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X1 Y20 Z0.4 F5000        ; Move to start position
    G1 X1 Y145 Z0.4 E15 F1500   ; Draw the first line
    G1 X1.3 Y145 Z0.4 F5000     ; Move to side a little
    G1 X1.3 Y20 Z0.4 E30 F1500  ; Draw the second line
    G92 E0                      ; Reset Extruder
    G1 E-1 F1800                ; Retract a bit 
    G0 Z2 F3000                 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 E0 F1800                 ; Unretract/Reset Extruder
