#####################################################################
#   Klipper G-Code Overrides
#####################################################################

[gcode_macro M109]
description: "Override M109 to wait for temperature with tolerance"
rename_existing: M99109
gcode:
    {% set s = params.S | float %}
    M104 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M190]
description: "Override M190 to wait for temperature with tolerance"
rename_existing: M99190
gcode:
    {% set s = params.S | float %}
    M140 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro SET_GCODE_OFFSET]
description: "Override SET_GCODE_OFFSET to persist Z offset"
rename_existing: SET_GCODE_OFFSET_BASE
gcode:
  SET_GCODE_OFFSET_BASE {rawparams}
  {% if 'Z' in params or 'Z_ADJUST' in params %}
    SAVE_VARIABLE VARIABLE=z_offset VALUE={printer.gcode_move.homing_origin.z}
  {% endif %}
