#####################################################################
#   Utilities
#####################################################################

[gcode_macro BEEP]
description: "Sound the beeper"
gcode:
    {% set duration = params.P | default(100) | float %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{duration}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro OFF]
description: "Turn off all heaters and fans"
gcode:
    M84                 ; Turn steppers off
    TURN_OFF_HEATERS    ; Turn bed_temp / hotend off
    M107                ; Turn print cooling fan off

[gcode_macro STARTUP]
description: "Apply saved configurations at startup"
gcode:
    {% if printer.save_variables.variables.pressure_advance %}
        {% set pa = printer.save_variables.variables.pressure_advance %}
        SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={pa}
        M118 Restored pressure advance: {pa}
    {% endif %}
    BED_MESH_PROFILE LOAD=default
    {% if printer.save_variables.variables.z_offset %}
        {% set z_off = printer.save_variables.variables.z_offset %}
        SET_GCODE_OFFSET Z={z_off} MOVE=0
        M118 Restored Z-offset: {z_off}
    {% endif %}
    POWEROFF_START
