[gcode_macro PRINT_START]
description: "Prepare the printer for a new print"
gcode:
    {% set bed_temp = params.BED | default(60) | float %}
    {% set extruder_temp = params.EXTRUDER | default(220) | float %}
    POWEROFF_CANCEL                                 ; Cancel auto poweroff timer
    CLEAR_PAUSE                                     ; Clear Pause
    M190 S{bed_temp}                                ; Heat bed_temp and wait
    M104 S150                                       ; Preheat extruder to 150°C
    G28                                             ; Home all axes
    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5
    M104 S{extruder_temp}                           ; Set final extruder temperature
    #G0 Z2 F5000                                     ; Raise Z while heating nozzle
    _MOVE_TO_PURGE_START                            ; Move to purge line start position
    M109 S{extruder_temp}                           ; Set extruder temp and wait
    LINE_PURGE ADAPTIVE_ENABLE=True