#####################################################################
#   Display configuration
#####################################################################

[e3v3se_display]
logging: True

[e3v3se_display MACRO1]
gcode: LOAD_MATERIAL
label: Load filament
icon: 14

[e3v3se_display MACRO2]
gcode: QUIT_MATERIAL
label: Unload filament
icon: 14

[e3v3se_display MACRO3]
gcode: Z_OFFSET_TEST
label: Calibrate Z offset
icon: 12

[e3v3se_display MACRO4]
gcode: BED_MESH_CALIBRATE PROFILE="default"
label: Calibrate bed mesh
icon: 29

[e3v3se_display MACRO5]
gcode: CLEAN_NOZZLE
label: Clean nozzle
icon: 9

[e3v3se_display MACRO6]
gcode: POWEROFF_NOW
label: Power OFF printer
icon: 41

[e3v3se_display MACRO7]
gcode: POWEROFF_CANCEL
label: Cancel auto-poweroff
icon: 16