#####################################################################
#   Print State Macros
#####################################################################

[gcode_macro PRINT_START]
description: "Prepare the printer for a new print"
gcode:
    {% set bed_temp = params.BED | default(60) | float %}
    {% set extruder_temp = params.EXTRUDER | default(220) | float %}
    POWEROFF_CANCEL                                 ; Cancel auto poweroff timer
    CLEAR_PAUSE                                     ; Clear Pause
    M190 S{bed_temp}                                ; Heat bed_temp and wait
    M104 S150                                       ; Preheat extruder to 150°C
    G28                                             ; Home all axes
    BED_MESH_CALIBRATE PROFILE="default"
    M104 S{extruder_temp}                           ; Set final extruder temperature
    G0 X1 Y1 Z1 F5000                               ; Move to front-left to heat nozzle
    M109 S{extruder_temp}                           ; Set extruder temp and wait
    LINE_PURGE

[gcode_macro PRINT_END]
description: "Cleanup after a print"
gcode:
    G91                 ; Relative positioning
    G1 E-2 F2700        ; Retract a bit
    G1 E-2 Z0.2 F2400   ; Retract and raise Z
    G0 X5 Y5 F3000      ; Wipe out
    G0 Z10              ; Raise Z more
    G90                 ; Absolute positioning
    G0 X0 Y220          ; Present print
    M106 S0             ; Turn-off fan
    M104 S0             ; Turn-off hotend
    M140 S0             ; Turn-off bed_temp
    M84                 ; Disable stepper motors
    POWEROFF_START

[gcode_macro CANCEL_PRINT]
description: "Cancel the current print"
rename_existing: CANCEL_PRINT_BASE
gcode:
    PRINT_END
    CANCEL_PRINT_BASE

#####################################################################
#   Filament Management
#####################################################################

[gcode_macro LOAD_FILAMENT]
description: "Load filament into the extruder"
variable_load_distance = 40
variable_purge_distance = 30
gcode:
    {% set load_speed = params.LOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}
    
    SAVE_GCODE_STATE NAME=load_state
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp}
    {% endif %}
    G91
    G92 E0
    G1 E{load_distance} F{load_speed}
    G1 E{purge_distance} F{purge_speed}
    {% if turn_off_extruder %}
        M104 S0
    {% endif %}
    RESTORE_GCODE_STATE NAME=load_state
    M118 Filament Loaded

[gcode_macro UNLOAD_FILAMENT]
description: "Unload filament from the extruder"
variable_unload_distance: 80
variable_purge_distance: 20
gcode:
    {% set unload_speed = params.UNLOAD_SPEED | default(1500) | float %}
    {% set purge_speed = params.PURGE_SPEED | default(300) | float %}
    {% set min_temp = params.MIN_TEMP | default(220) | float %}
    {% set turn_off_extruder = params.TURN_OFF_EXTRUDER | default(1) | int %}

    SAVE_GCODE_STATE NAME=unload_state
    {% if printer.extruder.temperature < min_temp %}
        M109 S{min_temp}
    {% endif %}
    G91
    G92 E0
    G1 E{purge_distance} F{purge_speed}
    G1 E-{unload_distance} F{unload_speed}
    {% if turn_off_extruder %}
        M104 S0
    {% endif %}
    RESTORE_GCODE_STATE NAME=unload_state
    M118 Filament Unloaded

#####################################################################
#   Calibration & Testing
#####################################################################

[gcode_macro PID_EXTRUDER]
description: "Run PID calibration for the extruder"
gcode:
  {% set target = params.TARGET | default(220) | float %}
  PID_CALIBRATE HEATER=extruder TARGET={target}
  SAVE_CONFIG

[gcode_macro PID_BED]
description: "Run PID calibration for the bed"
gcode:
  {% set target = params.TARGET | default(60) | float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={target}
  SAVE_CONFIG

[gcode_macro Z_OFFSET_TEST]
description: "Run ProUI Z-offset calibration"
gcode:
  PRTOUCH_PROBE_ZOFFSET CLEAR_NOZZLE=1 APPLY_Z_ADJUST=1
  SAVE_CONFIG

#####################################################################
#   Utilities
#####################################################################

[gcode_macro BEEP]
description: "Sound the beeper"
gcode:
    {% set duration = params.P | default(100) | float %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{duration}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro OFF]
description: "Turn off all heaters and fans"
gcode:
    M84                 ; Turn steppers off
    TURN_OFF_HEATERS    ; Turn bed_temp / hotend off
    M107                ; Turn print cooling fan off

[gcode_macro STARTUP]
description: "Apply saved configurations at startup"
gcode:
    SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE=0.084
    BED_MESH_PROFILE LOAD=default
    POWEROFF_START

[gcode_macro LINE_PURGE]
description: "Draw a purge line"
gcode:
    G92 E0                      ; Reset Extruder
    G1 Z2 F3000                 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X1 Y20 Z0.4 F5000        ; Move to start position
    G1 X1 Y145 Z0.4 E15 F1500   ; Draw the first line
    G1 X1.3 Y145 Z0.4 F5000     ; Move to side a little
    G1 X1.3 Y20 Z0.4 E30 F1500  ; Draw the second line
    G92 E0                      ; Reset Extruder
    G1 E-1 F1800                ; Retract a bit 
    G0 Z2 F3000                 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 E0 F1800                 ; Unretract/Reset Extruder

#####################################################################
#   Klipper G-Code Overrides
#####################################################################

[gcode_macro M109]
description: "Override M109 to wait for temperature with tolerance"
rename_existing: M99109
gcode:
    {% set s = params.S | float %}
    M104 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M190]
description: "Override M190 to wait for temperature with tolerance"
rename_existing: M99190
gcode:
    {% set s = params.S | float %}
    M140 {% for p in params %} {'%s%s' % (p, params[p])} {% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}
    {% endif %}

#####################################################################
#   Safety & Power Management
#####################################################################

[gcode_macro POWER_ON_PRINTER]
gcode:
  {action_call_remote_method("set_device_power", device="printer", state="on")}

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method("set_device_power", device="printer", state="off")}

[delayed_gcode bed_safety]
initial_duration: 2.
gcode:
  {% if printer.heater_bed.temperature >= settings.heater_bed.max_temp %}
    M118 EXCEED_THERMAL_LIMIT_BED
    POWER_OFF_PRINTER
  {% else %}
    UPDATE_DELAYED_GCODE ID=bed_safety DURATION=2
  {% endif %}

[delayed_gcode extruder_safety]
initial_duration: 2.
gcode:
  {% if printer.extruder0.temperature >= settings.extruder.max_temp %}
    M118 EXCEED_THERMAL_LIMIT_EXTRUDER
    POWER_OFF_PRINTER
  {% else %}
    UPDATE_DELAYED_GCODE ID=extruder_safety DURATION=2
  {% endif %}

[respond]
