# Ender-3V3 SE Parameters
########################################################
[gcode_macro PRINTER_PARAM]
variable_z_safe_pause: 0.0
variable_max_x_position: 227.0
variable_max_y_position: 230.0
variable_max_z_position: 250.0
variable_fans: 1
variable_auto_g29: 0
variable_default_bed_temp: 60
variable_default_extruder_temp: 220
variable_g28_extruder_temp: 140
variable_print_calibration: 0
variable_fan0_min: 0
variable_hotend_temp: 0
variable_temp_diff: 40
variable_calibration_zoffset_flags: 0
gcode:
